<div class="topSearch">
  <img class="logoHydq" src="./img/logo1.png" alt="logo">
  <a class="button button-clear addressHydq" href="#/location/{{address.RegionName}}" >
    <img class="icon" src="./img/hydqaddress.png" alt="切换城市">
    <span>{{data.address.address}}</span>
    <img src="./img/homeJt.png" alt="智慧黄页城市" class="go"/>
  </a>
  <!-- 搜索 -->
  <a href="#/search/hydq" class="item item-input searchForm">
    <img src="./img/homesearchIcon1.png" alt="智慧黄页搜索"/>
    <input type="text" placeholder="输入您想要的服务">
  </a>
  <!-- 搜索 -->
  <div class="row topClasses pad0">
    <div class="col pad0">
      <a href="#/zmqy">
        <img src="./img/hydqcompany.png" alt="知名企业"/>
        <span>知名企业</span>
      </a>
    </div>
    <div class="col pad0">
      <a href="#/ppzq">
        <img src="./img/hydqbrand.png" alt="品牌专区"/>
        <span>品牌专区</span>
      </a>
    </div>
    <div class="col pad0">
      <a href="#/classify">
        <img src="./img/hydqallclass.png" alt="全部分类"/>
        <span>全部分类</span>
      </a>
    </div>
  </div>
</div>
